.trusts {
    margin-bottom: 510px !important;
    position: relative;

}

.trusts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    grid-template-areas:
    "lada dsk shiphra"
    "loft shopotam shiphra"
    "loft francesco francesco"
    "vzkm butik borovoe"
    "tradify tradify borovoe"
    "domostroitely domostroitely bmy"
    "epic svet ecry"
    "land aisberg gryadka"
    "deflect eyars hots"
    "royal royal homes";
}

.lada {
    grid-area: lada;
}

.dsk {
    grid-area: dsk;
}

.shiphra {
    grid-area: shiphra;
}

.loft {
    grid-area: loft;
}

.shopotam {
    grid-area: shopotam;
}

.francesco {
    grid-area: francesco;
}

.vzkm {
    grid-area: vzkm;
}

.butik {
    grid-area: butik;
}

.borovoe {
    grid-area: borovoe;
}

.tradify {
    grid-area: tradify;
}

.domostroitely {
    grid-area: domostroitely;
}

.bmy {
    grid-area: bmy;
}

.epic {
    grid-area: epic;
}

.svet {
    grid-area: svet;
}

.ecry {
    grid-area: ecry;
}

.land {
    grid-area: land;
}

.aisberg {
    grid-area: aisberg;
}

.gryadka {
    grid-area: gryadka;
}

.deflect {
    grid-area: deflect;
}

.eyars {
    grid-area: eyars;
}

.hots {
    grid-area: hots;
}

.royal {
    grid-area: royal;
}

.homes {
    grid-area: homes;

}

.trusts__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    cursor: pointer;
    background: linear-gradient(121.58deg, rgba(255, 255, 255, 0.0013) 3.34%, rgba(36, 37, 68, 0.0377) 101.98%), rgba(210, 177, 177, 0.01);
    backdrop-filter: blur(90px);
    border: 1px solid rgba(51, 70, 121, 0.73);
    border-radius: 35px;
}

.trusts__bg_1 {
    background: linear-gradient(180deg, #E51537 0%, #5B17E4 100%, #5B17E4 100%), #C4C4C4;
    box-shadow: inset 0 374px 250px rgba(255, 255, 255, 0.21);
    width: 258px;
    height: 259px;
    border-radius: 100%;
    position: absolute;
    left: -400px;
    top: 35%;
    transform: rotate(180deg);
}

.trusts__bg_2 {
    background: linear-gradient(180deg, #2D9FDC 0%, #5B17E4 100%), #C4C4C4;
    box-shadow: inset 0 -125px 162px #3C73DE, inset 0 -393px 250px rgba(18, 48, 105, 0.21);

    width: 1133px;
    height: 1133px;

    border-radius: 100%;
    position: absolute !important;
    right: -70%;
    top: 50%;
    z-index: -1;
    transform: rotate(58.18deg);
   
}

.trusts__bg {
    position: relative;
}

.trusts__bg_3 {
    position: absolute;
    left: -300px;
    top: -200px;
    z-index: -1;
}

@media (max-width: 768px) {
    .trusts {
        margin-bottom: 53px !important;

    }

    .trusts__wrapper_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr !important;
        gap: 16px;
        grid-template-areas:
        "lada dsk"
    "shopotam shiphra"
    "loft shiphra"
    "francesco francesco"
    "vzkm butik "
    "bmy borovoe"
    "epic borovoe"
    "tradify tradify"
    "domostroitely domostroitely"
    "svet ecry"
    "land aisberg"
    "gryadka deflect"
    "eyars homes "
    "royal royal"
    "hots hots";
    }


    .trusts__item {
        padding: 25px;
    }

    .trusts__item > img {
        min-width: 86px;
        min-height: 86px;
        object-fit: contain;
    }

    .trusts__bg_1 {
        left: -200px;
        z-index: -1;
    }

    .trusts__bg_2 {
        width: 426px;
        height: 426px;
        right: -120%;
        top: 65%;
    }


    .trusts__bg_3 {
        left: -70%;
    }
}
