.feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 263px !important;
}

.feedback__wrapper {
    background: linear-gradient(121.58deg, rgba(255, 255, 255, 0.0013) 3.34%, rgba(36, 37, 68, 0.0377) 101.98%),
    linear-gradient(0deg, rgba(210, 177, 177, 0.01), rgba(210, 177, 177, 0.01));
    backdrop-filter: blur(111px);
    border: 1px solid rgba(51, 70, 121, 0.73);
    border-radius: 35px;
    padding: 125px 176px 118px;
}

.feedback__title {
    font-style: normal;
    font-weight: 250;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 0.62em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 56px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__label {
    margin-bottom: 40px;
    width: 100%;
}

.feedback__input {
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 356px;
    width: 100%;
    padding: 41px 51px;
    outline: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.63em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.feedback__input::placeholder {
    color: #FFFFFF;
}

.feedback__button {
    width: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 356px;
    padding: 34px 181px;
    background: none;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;

    letter-spacing: 0.5em;
    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 50px;
}

.feedback__label_checkbox {
    user-select: none;
    position: relative;
    cursor: pointer;

}

.feedback__checkbox {
    -webkit-appearance: none;
    appearance: none;

}

.feedback__checkbox::before {
    content: '';
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: 0;
    width: 34px;
    height: 34px;
    border: 1px solid #949494;
    border-radius: 100%;
    box-sizing: border-box;
}

.feedback__checkbox:checked::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    content: url("../../../images/icon/ok.svg");
}

.feedback__span {
    padding-left: calc(20px + 30px);
    font-style: normal;
    font-weight: 250;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
}

.feedback__span > a {
    font-style: normal;
    font-weight: 250;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
}


@media (max-width: 768px) {
    .feedback {
        margin-bottom: 100px !important;
    }

    .feedback__wrapper {
        padding: 52px 20px 44px;

    }
    .feedback__title {
        font-size: 19px;
        line-height: 130%;
        margin-bottom: 24px;
        text-align: center;
    }
    .feedback__label {
        margin-bottom: 24px;
    }
    .feedback__input {
        padding: 25px 30px;
        font-weight: 300;
        font-size: 12px;
    }

    .feedback__button {
        padding: 23px 64px;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 24px;
    }
    .feedback__span {
        padding-left: calc(6px + 20px);
    }

    .feedback__label_checkbox {
        text-align: right;

    }
    .feedback__checkbox::before {
        width: 26px;
        height: 26px;
        top: 20%;
    }
    .feedback__checkbox:checked::before {
        width: 26px;
        height: 26px;

    }

}