.home {
    margin-top: 280px !important;
    margin-bottom: 190px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home::before {
    content: " ";
    width: 100%;
    height: 300px;
    background-image: url("/src/images/img/home/bg_1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    display: none;
}

.home__bg {
    width: 100%;
    height: 300px;
    background-image: url("/src/images/img/home/bg_1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: none;
}

.home__title {
    align-items: center;
    margin-bottom: 149px;
}

.home__subTitle {
    font-style: normal;
    font-weight: 250;
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 0.62em;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.home__description {
    font-style: normal;
    font-weight: 275;
    font-size: 19px;
    line-height: 220%;
    text-align: center;
    width: 54%;
    color: #FFFFFF;
}


@media (max-width: 768px) {
    .home {
        margin-top: 77px !important;
        margin-bottom: 75px !important;

    }

    .home::before {
        display: block;
    }

    .home__bg {
        display: block;
        top: 0;
        z-index: -1;
        right: 0;
    }

    .home__title {
        margin-bottom: 72px;
    }

    .home__subTitle {
        font-weight: 100;
        font-size: 22px;
        line-height: 130%;
        margin-bottom: 18px;
    }

    .home__description {
        font-weight: 300;
        font-size: 13px;
        line-height: 150%;
        width: 100%;
    }

}