.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 108px !important;
    bottom: 0;
    position: relative;
}

.footer__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__subTitle {
    font-style: normal;
    font-weight: 275;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.62em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer__title {
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.62em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__bg_1 {
    position: absolute !important;
    width: 990px;
    height: 990px;
    background: linear-gradient(180deg, #2D9FDC 0%, #5B17E4 100%), #C4C4C4;
    box-shadow: inset 0 -125px 162px #3C73DE, inset 0 -393px 250px rgba(18, 48, 105, 0.21);
    transform: rotate(58.18deg);
    border-radius: 100%;
    left: -20%;
    z-index: -1;
    overflow: hidden;
}

.footer__bg_2 {
    width: 520px;
    height: 520px;
    background: linear-gradient(180.95deg, #FF9B05 0.81%, #FF0C63 96.38%), #C4C4C4;
    box-shadow: inset 0 -30px 115px #6F5AEE, inset 0 -239px 250px rgba(139, 111, 198, 0.21);
    border-radius: 100%;
    position: absolute;
    right: -15%;
    bottom: -900%;

}

@media (max-width: 768px) {
    .footer {
        margin-bottom: 50px !important;

    }

    .footer__bg_1 {

        width: 282px;
        height: 282px;
        left: -45%;
        top: -1600%;
    }

    .footer__bg_2 {
        width: 496px;
        height: 496px;
        background: linear-gradient(180.95deg, #FF9B05 0.81%, #FF0C63 96.38%), #C4C4C4;
        box-shadow: inset 0 -30px 115px #6F5AEE, inset 0 -239px 250px rgba(139, 111, 198, 0.21);
        border-radius: 100%;
        position: absolute;
        right: -80%;
        bottom: -450%;
        z-index: -1;
    }
}