@import "normalize.css";
@import "blocks/Home/home.css";
@import "blocks/Directions/directions.css";
@import "blocks/Trusts/trusts.css";
@import "blocks/Team/team.css";
@import "blocks/Video/video.css";
@import "blocks/Feedback/feedback.css";
@import "blocks/Footer/footer.css";
@import "blocks/Case/Case/case.css";
@import "blocks/Case/CaseMain/caseMain.css";
@import "blocks/Case/CaseWeb/caseWeb.css";
@import "blocks/Case/CaseSeo/caseSeo.css";
@import "blocks/Case/CaseTraffic/caseTraffic.css";
@import "blocks/Case/CaseFooter/caseFooter.css";


.container {
    max-width: 1410px;
    margin: 0 auto;

}

.main__wrapper {
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1410px;

    }
}


@media (max-width: 768px) {
    .container {
        max-width: 288px;
    }
}