.video {
    background: linear-gradient(121.58deg, rgba(255, 255, 255, 0.0013) 3.34%, rgba(36, 37, 68, 0.0377) 101.98%), rgba(210, 177, 177, 0.01);
    backdrop-filter: blur(90px);
    border: 1px solid rgba(51, 70, 121, 0.73);
    border-radius: 35px;
    padding: 103px 0;
    position: relative;
    margin-top: 200px !important;
    margin-bottom: 220px !important;
}
.video > img {
    object-fit: cover;
}

.video_play {
    position: absolute !important;
    width: 85px;
    height: 85px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .video {
        padding: 39px 0;
        margin-top: 0 !important;
        margin-bottom: 110px !important;
    }
    .video > img {
        height: 209px!important;
    }
    .video_play {
        width: 49px;
        height: 49px;
        border: 1px solid #FFFFFF;
    }
    .video_play > img {
        width: 20%!important;
    }

}
