.caseMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 102px;
}

.caseMain__img {
    padding: 30px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 33px;
}


.caseMain__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}

.caseMain__block_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 75px;
}

.caseMain__block_left_img {
    margin-bottom: 68px;
    width: 135px;
}

.caseMain__list {
    width: 135px!important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.caseMain__list_item {
    margin-bottom: 40px;
}
.caseMain__list_item:nth-last-child(1) {
    margin-bottom: 0;
}

.caseMain__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
}

.caseMain__block_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.caseMain__title {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.caseMain__description {
    margin-bottom: 39px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;

}

.caseMain__description:nth-last-child(1) {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .caseMain {
        margin-bottom: 40px!important;
    }

    .caseMain__img {
        padding: 7px;
        border: 0.550914px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 7.52916px;
    }


    .caseMain__block {

        flex-direction: column;
        margin-bottom: 27px;
    }

    .caseMain__block_left {
        margin-right: 0;
    }

    .caseMain__block_left_img {
        margin-bottom: 41px;
        width: 135px;
    }

    .caseMain__list {
        display: none;
    }
    .caseMain__title {
        margin-bottom: 18px;
        font-size: 19px;
        line-height: 28px;
    }
    .caseMain__description {
        margin-bottom: 21px;
        font-size: 14px;
        line-height: 150%;

    }

}