.caseTraffic {
    display: flex;
    flex-direction: column;
}

.caseTraffic__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.caseTraffic__block_left {
    display: flex;
    flex-direction: column;
}

.caseTraffic__items {
    display: flex;
    flex-direction: column;
}

.caseTraffic__item {
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;
}

.caseTraffic__item:nth-last-child(1) {
    margin-bottom: 0;
}

.caseTraffic__item_block {
    display: flex;
    flex-direction: column;
    margin-right: 94px;
}

.caseTraffic__item_block:nth-last-child(1) {
    margin-right: 0;
}

.caseTraffic__item_title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: right;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.caseTraffic__item_subTitle {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;
}

.caseTraffic__block_right {
    display: flex;
    flex-direction: column;
}

.caseTraffic__info {
    margin-bottom: 60px;
}

.caseTraffic__info:nth-last-child(1) {
    margin-bottom: 0;
}

.caseTraffic__info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.caseTraffic__info_subTitle {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 150%;
    color: #FFFFFF;
}

.caseTraffic__img {
    margin-bottom: 60px;
    padding: 30px;
    border: 2px solid #FFFFFF;
    border-radius: 32px;
}

.caseTraffic__img:nth-last-child(1) {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .caseTraffic__block {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .caseTraffic__item {
        margin-bottom: 30px;
        flex-direction: column;

    }

    .caseTraffic__block_left {
        margin-bottom: 30px;
    }

    .caseTraffic__item_block {
        align-items: flex-end;
        margin-right: 0;
        border-bottom: 1px solid #2D3137;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .caseTraffic__item_block:nth-last-child(1) {
        border-bottom: none;
        margin: 0;
        padding: 0;
    }

    .caseTraffic__item_title {
        margin-bottom: 5px;
    }

    .caseTraffic__item_subTitle {
        font-size: 30px;
    }

    .caseTraffic__info {
        margin-bottom: 30px;
    }

    .caseTraffic__info_title {
        margin-bottom: 5px;
    }

    .caseTraffic__info_subTitle {
        font-size: 24px;
    }

    .caseTraffic__img {
        margin-bottom: 30px;
        padding: 7px;
        border: 1px solid #FFFFFF;
        border-radius: 7px;
    }
}