.team {
    margin-bottom: 226px;
    position: relative !important;
}

.team__title {
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
    line-height: 128.5%;
    color: #FFFFFF;
    width: 75%;
    margin-bottom: 111px;
}

.team__bg_1 {
    position: absolute;
    width: 92px;
    height: 92px;
    background: linear-gradient(264.24deg, #F68C1B -21.84%, #F03C58 121.8%), #C4C4C4;
    transform: rotate(58.18deg);
    border-radius: 100%;
    left: -21%;
}

.team__bg_2 {
    width: 391px;
    height: 391px;
    background: linear-gradient(180deg, #E51537 0%, #5B17E4 100%, #5B17E4 100%), #C4C4C4;
    box-shadow: inset 0 -30px 115px #7662EE, inset 0 -239px 250px rgba(110, 63, 210, 0.21);
    filter: blur(86px);
    transform: rotate(-24.6deg);
    border-radius: 100%;
    position: absolute;
    right: 20%;
    top: -6%;
    z-index: -1;
}

.team__bg_3 {
    position: absolute;
    right: 10%;
    top: -6%;
    z-index: -1;
}

.team__bg_4 {
    position: absolute;
    z-index: -1;
    left: -22%;
    top: 50%;
}

.team__bg_5 {
    width: 1077px;
    height: 1077px;
    background: linear-gradient(180deg, #E51537 0%, #5B17E4 100%, #5B17E4 100%), #C4C4C4;
    box-shadow: inset 0 -30px 115px #7662EE, inset 0 -239px 250px rgba(110, 63, 210, 0.21);
    transform: rotate(-24.6deg);
    border-radius: 100%;
    position: absolute;
    right: -50%;
    top: 80%;
    z-index: -1;
}

.team__wrapper {
    display: flex;
}

.team__block {
    flex: 1;
}

.team__item {
    flex: 1;
    height: 700px;
    display: flex;
    margin-bottom: 40px !important;
}

.team__item_1 {
    justify-content: flex-start;
    align-items: flex-end;
}

.team_item_2 {
    justify-content: flex-start;
    align-items: center;
}

.team__item_3 {
    justify-content: flex-end;
    align-items: flex-end;
}

.team__item_4 {
    justify-content: flex-end;
    align-items: flex-end;
}

.team__item_5 {
    justify-content: flex-start;
    align-items: flex-end;
}

.team__item_6 {
    justify-content: flex-end;
    align-items: flex-end;
}

.team__item_7 {
    justify-content: flex-start;
    align-items: flex-end;
}

.team__item_8 {
    justify-content: flex-end;
    align-items: flex-end;
}

.team__card_img {
    margin-bottom: 25px;
    background: linear-gradient(121.58deg, rgba(255, 255, 255, 0.0013) 3.34%, rgba(36, 37, 68, 0.0377) 101.98%), rgba(210, 177, 177, 0.01);
    backdrop-filter: blur(90px);
    border: 1px solid rgba(51, 70, 121, 0.73);
    border-radius: 35px;
}

.team__card_img_1 {
    padding: 61px 119px;
}

.team__card_img_2 {
    padding: 97px 120px;
}

.team__card_img_3 {
    padding: 95px 75px 25px;
}

.team__card_img_4 {
    padding: 51px 54px 18px 45px;
}

.team__card_img_5 {
    padding: 68px 71px 69px 57px;
}

.team__card_img_6 {
    padding: 97px 129px 53px 95px;
}

.team__card_img_7 {
    padding: 48px;
}

.team__card_img_8 {
    padding: 58px 90px 90px 92px;
}

.team__card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team__card_play {
    width: 45px;
    height: 45px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.team__card_title {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.7em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .team {
        margin-bottom: 40px!important;
        margin-top: 120px!important;
    }
    .team__title {
        width: 100%;
        margin-bottom: 25px;
        font-size: 22px;
    }
    .team__bg_1 {
        width: 437px;
        height: 437px;
        background: linear-gradient(180.95deg, #FF9B05 0.81%, #FF0C63 96.38%), #C4C4C4;
        box-shadow: inset 0 -13.5623px 51.9887px #6F5AEE, inset 0 -108.046px 113.019px rgba(139, 111, 198, 0.21);
        border-radius: 100%;
        left: -100%;
        top: -2%;
        z-index: -1;
    }

    .team__bg_2 {
        width: 117px;
        height: 117px;
        background: linear-gradient(180deg, #E51537 0%, #5B17E4 100%, #5B17E4 100%), #C4C4C4;
        box-shadow: inset 0 -8.97808px 34.416px #7662EE, inset 0px -71.5254px 74.8173px rgba(110, 63, 210, 0.21);
        filter: blur(25.7372px);
        transform: rotate(-24.6deg);
        border-radius: 100%;
        position: absolute;
        right: -6%;
        top: -2%;
        z-index: -1;
    }

    .team__bg_3 {
        position: absolute;
        right: -8%;
        top: -3%;
        z-index: -1;
        width: 30%;
    }

    .team__bg_4 {
        position: absolute;
        z-index: -1;
        left: -40%;
        top: 49%;
        width: 50%;
    }

    .team__bg_5 {
        width: 258px;
        height: 258px;
        right: -70%;
    }
    .team__wrapper {
        display: flex;
        flex-direction: column;
    }

    .team__item {
        height: 100%;
        margin-bottom: 63px !important;
    }
    .team__card_img {
        margin-bottom: 16px;
    }

    .team__card_img_1 {
        padding: 47px 82px 48px;
    }

    .team__card_img_2 {
        padding: 32px 42px 32px 55px;
    }

    .team__card_img_3 {
        padding: 57px 32px 11px 54px;
    }

    .team__card_img_4 {
        padding: 42px 48px 28px 40px;
    }

    .team__card_img_5 {
        padding: 45px 40px 30px 32px;
    }

    .team__card_img_6 {
        padding: 33px 42px;
    }

    .team__card_img_7 {
        padding: 25px 34px;
    }

    .team__card_img_8 {
        padding: 29px 44px 41px;
    }

    .team__card_play {
        width: 49px!important;
        height: 49px;
    }

    .team__card_title {
        font-size: 11px;
        line-height: 150%;
        text-align: right;
        width: 80%;
    }
}