.caseWeb {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}


.caseWeb__subTitle {
    margin-bottom: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}

.caseWeb__img {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 32px;
    padding: 30px;
}

@media (max-width: 768px) {
    .caseWeb {
        margin-bottom: 50px;
    }


    .caseWeb__subTitle {
        margin-bottom: 54px;
        font-size: 17px;
        line-height: 150%;
    }

    .caseWeb__img {
        padding: 7px;
    }
}