.directions__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    grid-template-areas:
    "web traffic context"
    "complex complex seo";
    margin-bottom: 230px !important;

}

.directions {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.directions::before {
    content: ' ';
    position: absolute;
    background: url("../../../images/img/derections/Ellipse 47.svg") 100% 66% no-repeat,
    url("../../../images/img/derections/Ellipse 38.svg") 100% 30% no-repeat,
    url("../../../images/img/derections/Group 3850.png") 9% bottom no-repeat;
    width: 100%;
    height: 180%;

    /*top: -31%;*/
    /*right: -91%;*/
    /*background-position: 100%;*/
    top: -65%;

}

.web {
    grid-area: web;
}

.traffic {
    grid-area: traffic;
}

.context {
    grid-area: context;
}

.complex {
    grid-area: complex;
}

.complex > img {
    width: 66px;
    height: 68px;
}

.seo {
    grid-area: seo;
}

.directions__item {
    background: linear-gradient(121.58deg, rgba(255, 255, 255, 0.0013) 3.34%, rgba(36, 37, 68, 0.0377) 101.98%),
    linear-gradient(0deg, rgba(210, 177, 177, 0.01), rgba(210, 177, 177, 0.01));
    backdrop-filter: blur(111px);
    border: 1px solid rgba(51, 70, 121, 0.73);
    border-radius: 35px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.directions__item_img {
    margin-bottom: 60px;
    width: 20%;
    z-index: 1;
}

.directions__item:hover .directions__item_img {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.74));
}

.directions__item_title {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.directions__item_subTitle {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}


@media (max-width: 768px) {


    .directions__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin-bottom: 90px !important;
        grid-template-areas:
    "web"
    "traffic"
    "context"
    "complex"
    "seo"
    }

    .complex > img {
        width: 35px;
        height: 35px;
    }

    .directions::before {
        background: url("../../../images/img/derections/Ellipse 47.svg") 143% 53% no-repeat,
        url("../../../images/img/derections/Ellipse 38.svg") 135% 46% no-repeat,
        url("../../../images/img/derections/Group 3850.png") -70% bottom no-repeat;
        width: 100%;
        height: 140%;
        background-size: 60%;
        /*top: -31%;*/
        /*right: -91%;*/
        /*background-position: 100%;*/
        top: -46%;
    }

    .directions__item {
        padding: 35px;
    }

    .directions__item_img {
        margin-bottom: 28px;
    }

    .directions__item_title {
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 25px !important;
    }

}