.caseFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 74px;

}

.caseFooter__ears {
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.62em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.caseFooter__logo {
    width: 10%;
}

@media (max-width: 768px) {
    .caseFooter {
        max-width: 320px;
        margin-bottom: 30px;
    }

    .caseFooter__ears {
        font-size: 14px;
    }

    .caseFooter__logo {
        width: 30%;
    }
}