.caseSeo {
    margin-bottom: 100px;
}

.caseSeo__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.caseSeo__block_left {
    display: flex;
    flex-direction: column;
}

.caseSeo__block_charts {
    display: flex;
    margin-bottom: 60px;
}

.caseSeo__chart_item {
    margin-right: 30px;
}

.caseSeo__chart_title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.caseSeo__chart_img {
    margin-bottom: 56px;
}

.caseSeo__chart_subTitle {
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
}

.caseSeo__chart_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.caseSeo__chart_description {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;
}

.caseSeo__block_info {
    display: flex;
    flex-direction: column;
}

.caseSeo__info_item {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.caseSeo__info_item:nth-last-child(1) {
    margin-bottom: 0;
}

.caseSeo__info_block {
    display: flex;
    flex-direction: column;
}

.caseSeo__info_block:nth-last-child(1) > .caseSeo__info_subTitle {
    display: flex;
    justify-content: flex-end;
}

.caseSeo__info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: right;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.caseSeo__info_subTitle {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;
}

.caseSeo__info_block-bottom {
    display: flex;
    justify-content: flex-end;
}

.aseSeo__info_subTitle {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 150%;
    text-align: right;
    color: #76F3DD;
    margin-right: 10px;
}

.caseSeo__block_right {
    display: flex;
    flex-direction: column;
}

.caseSeo__block_data {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}

.caseSeo__block_data:nth-last-child(1) {
    margin-bottom: 0;
}

.caseSeo__data_title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.caseSeo__data_subTitle {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 150%;
    color: #FFFFFF;
}

.caseSeo__img {
    padding: 30px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 32px;
}


@media (max-width: 768px) {
    .caseSeo {
        margin-bottom: 50px;
    }

    .caseSeo__block {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .caseSeo__block_charts {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .caseSeo__chart_item {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .caseSeo__chart_item:nth-last-child(1) {
        margin-bottom: 0;
    }

    .caseSeo__chart_title {
        margin-bottom: 36px;
    }


    .caseSeo__chart_subTitle {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .caseSeo__block_info {
        margin-bottom: 45px;
    }

    .caseSeo__info_item {
        margin-bottom: 30px;
        flex-direction: column;
    }

    .caseSeo__info_block {
        align-items: flex-end;
        border-bottom: 1px solid #2D3137;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    .caseSeo__info_block:nth-last-child(1) {
        margin-bottom: 0;
        border: none;
        padding: 0;
    }

    .caseSeo__info_title {
        margin-bottom: 5px;
    }

    .caseSeo__info_subTitle {
        font-size: 30px;
    }

    .aseSeo__info_subTitle {
        font-size: 30px;
        margin-right: 5px;
    }

    .caseSeo__block_right {
        margin-bottom: 50px;
    }

    .caseSeo__block_data {
        margin-bottom: 30px;
    }


    .caseSeo__data_title {
        margin-bottom: 5px;
    }

    .caseSeo__data_subTitle {
        font-size: 24px;
    }

    .caseSeo__img {
        padding: 7px;
        border: 1px solid #FFFFFF;

        border-radius: 7px;
    }
}