.case__wrapper {
    margin-top: 244px !important;
    margin-bottom: 459px !important;
    background: linear-gradient(121.58deg, rgba(255, 255, 255, 0.0013) 3.34%, rgba(36, 37, 68, 0.0377) 101.98%),
    linear-gradient(0deg, rgba(210, 177, 177, 0.01), rgba(210, 177, 177, 0.01));
    border: 1px solid rgba(51, 70, 121, 0.73);
    backdrop-filter: blur(111px) !important;

    border-radius: 35px;
    padding: 119px 90px 96px;
    z-index: 1;
    position: relative;
}

.case__wrapper_1 {
    position: relative;
}

.case__logo {
    display: none;
}

.case__back {
    position: absolute;
    left: 65px;
    top: 30%;
}

.case__back_link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.case__title {
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.case__description {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
}

.case__line {
    margin: 62px 0;
    width: 64px;
    border: 1px solid #445AE0;
}

.case__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.case__item {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-right: 61px;
}

.case__item_number {
    position: relative;
    bottom: -17%;
    z-index: -1;
    font-style: normal;
    font-weight: 275;
    font-size: 119px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.2);
    opacity: 0.4;
}

.case__item_text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
}

.case__bg {
    background: linear-gradient(121.58deg, rgba(255, 255, 255, 0.0013) 3.34%, rgba(36, 37, 68, 0.0377) 101.98%),
    linear-gradient(0deg, rgba(210, 177, 177, 0.01), rgba(210, 177, 177, 0.01));
    backdrop-filter: blur(111px);
    border: 1px solid rgba(51, 70, 121, 0.73);
    border-radius: 35px;
    padding: 40px;
}


.case__bg_circle-1 {
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    width: 378px;
    height: 378px;
    background: linear-gradient(180deg, #E51537 0%, #5B17E4 100%, #5B17E4 100%), #C4C4C4;
    box-shadow: inset 0 374px 250px rgba(255, 255, 255, 0.21);
    transform: rotate(162.09deg);
    left: -25%;
    top: 7%;


}

.case__bg_circle-2 {
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    width: 1133px;
    height: 1133px;
    background: linear-gradient(180deg, #2D9FDC 0%, #5B17E4 100%), #C4C4C4;
    box-shadow: inset 0 -125px 162px #3C73DE, inset 0 -393px 250px rgba(18, 48, 105, 0.21);
    transform: rotate(58.18deg);
    right: -75%;
    top: 15%;

}

.case__bg_circle-3 {
    width: 989px;
    height: 989px;
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    background: linear-gradient(180deg, #2D9FDC 0%, #5B17E4 100%), #C4C4C4;
    box-shadow: inset 0 -125px 162px #3C73DE, inset 0 -393px 250px rgba(18, 48, 105, 0.21);
    transform: rotate(58.18deg);
    top: 33%;
    left: -65%;
}

.case__bg_circle-4 {
    width: 764px;
    height: 764px;
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    background: linear-gradient(180.95deg, #FF9B05 0.81%, #FF0C63 96.38%), #C4C4C4;
    box-shadow: inset 0 -13.5623px 51.9887px #6F5AEE, inset 0 -108.046px 113.019px rgba(139, 111, 198, 0.21);
    top: 70%;
    left: -50%;
}

.case__bg_circle-5 {
    width: 1077px;
    height: 1077px;
    position: absolute;
    z-index: 0;
    border-radius: 100%;
    background: linear-gradient(180deg, #E51537 0%, #5B17E4 100%, #5B17E4 100%), #C4C4C4;
    box-shadow: inset 0 -30px 115px #7662EE, inset 0 -239px 250px rgba(110, 63, 210, 0.21);
    transform: rotate(-24.6deg);
    right: -90%;
    top: 95%;
    transition: 1s ease-in-out;
    cursor: pointer;
    opacity: 0.2;
}

.case__bg_circle-5:hover {
    transform: rotate(-100.6deg);
    opacity: 1;
    right: -65%;
}

@media (max-width: 768px) {
    .case__wrapper {
        margin-top: 244px !important;
        margin-bottom: 459px !important;
        background: linear-gradient(121.58deg, rgba(255, 255, 255, 0.0013) 3.34%, rgba(36, 37, 68, 0.0377) 101.98%), rgba(210, 177, 177, 0.01);
        backdrop-filter: blur(90px);
        border: 1px solid rgba(51, 70, 121, 0.73);
        border-radius: 35px;
        padding: 119px 90px 96px;
    }

    .case__wrapper {
        margin-top: 75px !important;
        margin-bottom: 126px !important;
        padding: 0 !important;
        border: none;
        background: none;

    }

    .case__logo {
        margin-top: 44px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .case__back {
        display: none;
    }

    .case__title {
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 17px;
    }

    .case__description {
        font-size: 14px;
        line-height: 150%;
    }

    .case__line {
        margin: 35px 0;
    }

    .case__items {
        margin-bottom: 70px;
    }

    .case__item {
        width: 100%;
        margin-right: 0;
    }

    .case__item_number {
        font-weight: 275;
        font-size: 81px;
        line-height: 100%;
    }

    .case__item_text {
        font-size: 14px;
        line-height: 150%;
    }

    .case__bg {
        padding: 25px;
    }


    .case__bg_circle-1 {
        display: none;

    }

    .case__bg_circle-2 {
        display: none;
    }

    .case__bg_circle-3 {
        display: none;
    }

    .case__bg_circle-4 {
        display: none;
    }

    .case__bg_circle-5 {
        display: none;
    }
}

